/* You can use this file to add CSS rules to all the routes in your application - such as CSS reset rules, site-wide styles for HTML elements like links, and more. */
@use "tailwindcss";

// input[type='number'] {
//   -moz-appearance: textfield;
//   appearance: textfield;
// }

// input[type='number']::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// input[type='number']::-webkit-outer-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// .shape {
//   height: 0;
//   width: 0;
//   border-bottom: 30px solid black;
//   border-left: 20px solid transparent;
//   border-right: 20px solid transparent;
// }
